:root {
  --table-color: rgb(38, 38, 38);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--table-color);
  font-family: sans-serif;
}

.my-board {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding-bottom: 10px;
  width: 65%;
  margin: 0 auto;
}
@media (max-width: 350px) {
  .my-board {
    width: 90%;
  }
}
@media (min-width: 351px) {
  .my-board {
    width: 70%;
  }
}
@media (min-width: 500px) {
  .my-board {
    width: 60%;
  }
}
@media (min-width: 670px) {
  .my-board {
    width: 40%;
  }
}
@media (min-width: 900px) {
  .my-board {
    width: 30%;
  }
}

.card {
  flex: 1 20%;
  background-color: #f0f0f0;
  text-align: center;
  border: 1px solid black;
  flex-grow: 0;
  aspect-ratio: 9/16;
  max-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}
.card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(30deg, black 12%, transparent 12.5%, transparent 87%, black 87.5%, black), linear-gradient(150deg, black 12%, transparent 12.5%, transparent 87%, black 87.5%, black), linear-gradient(30deg, black 12%, transparent 12.5%, transparent 87%, black 87.5%, black), linear-gradient(150deg, black 12%, transparent 12.5%, transparent 87%, black 87.5%, black), linear-gradient(60deg, rgba(68, 76, 247, 0.4666666667) 25%, transparent 25.5%, transparent 75%, rgba(68, 76, 247, 0.4666666667) 75%, rgba(68, 76, 247, 0.4666666667)), linear-gradient(60deg, rgba(68, 76, 247, 0.4666666667) 25%, transparent 25.5%, transparent 75%, rgba(68, 76, 247, 0.4666666667) 75%, rgba(68, 76, 247, 0.4666666667));
  background-size: 30px 15px;
  background-position: 0 0, 0 0, 18px 32px, 18px 32px, 0 0, 18px 32px;
  opacity: 0.2;
  z-index: 3;
}
.card .before-label {
  position: absolute;
  top: 3px;
  left: 3px;
  font-size: 1rem;
  background-color: white;
  color: black;
  width: 20px;
  height: 15px;
  border-radius: 20px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .before-label.underlined {
  text-decoration: underline;
}
.card .after-label {
  position: absolute;
  bottom: 3px;
  right: 3px;
  font-size: 1rem;
  background-color: white;
  color: black;
  width: 20px;
  height: 15px;
  border-radius: 20px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-180deg);
}
.card .after-label.underlined {
  text-decoration: underline;
}
.card .val-label {
  text-shadow: 0 0 10px white;
}
.card .val-label.underlined {
  text-decoration: underline;
}
.card.green {
  background-color: green;
}
.card.yellow {
  background-color: yellow;
}
.card.red {
  background-color: red;
  z-index: 4;
}
.card.lightblue {
  background-color: aqua;
}
.card.blue {
  background-color: blue;
  color: white;
}
.card.covered {
  position: relative;
  color: white;
  background: linear-gradient(green, red);
  margin: 10px;
  min-width: 54px;
  min-height: 80px;
}
.card.covered::after {
  content: "SKYJO";
  position: absolute;
  transform: rotate(45deg);
  font-size: 0.8rem;
  letter-spacing: 2px;
  z-index: 20;
  background: transparent;
  color: white;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card.covered::before {
  content: "";
  position: absolute;
  background: linear-gradient(to right, yellow, blue);
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 0.4;
}/*# sourceMappingURL=style.css.map */